[Unit]
Description=__APP__ service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__NODEJS_PATH__/node   __FINALPATH__/server >> /var/log/__APP__/__APP__.log 2>&1

[Install]
WantedBy=multi-user.target
