[Unit]
Description=__APP__ service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=node__FINALPATH__/server/index.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin:__NODEJS_PATH__
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
